<!-- main.hbs-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>SPSS</title>
    <nav id="navbar">
    <ul>
      <li><a href="/home">Home</a></li>
      <li><a href="/students">Students</a></li>
      <li><a href="/instructors">Instructors</a></li>
      <li><a href="/student-registrations">Student Registrations</a></li>
      <li><a href="/lessons">Lessons</a></li>
      <li><a href="/proficiencies">Proficiencies</a></li>
    </ul>
  </nav>
  <link rel="shortcut icon" href="public/img/favicon.ico" type="image/x-icon">
  <link rel="icon" href="public/img/favicon.ico" type="image/x-icon">
</head>
<body>
    {{{body}}}

</body>
<footer>
      <div id="footer">CS340 - Introduction to Databases | Oregon State University | &copy;2023 James Wollenburg & Melissa Johnson</div>
</footer>
</html>