<html>
  <body>
    <h1>Slashing Pow Ski School</h1>

    <h2>Welcome to Slashing Pow Ski School</h2>

    <p>
      Click on the above buttons to navigate the website and to access different
      tables in the database. You can view the tables for Instructors, Students,
      Lessons, Proficiencies, and the intersection table for Students and
      Lessons.
    </p>

    
  </body>
</html>