<h1>Proficiencies</h1>
<table id = "proficiency-table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the pem_fname renders --}}
        <tr>
            {{#each proficiencies.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{#each proficiencies}}
        <tr>
            <td>{{this.[Proficiency ID]}}</td>
            <td>{{this.[Proficiency Name]}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

{{!-- Form to add a record to the table  --}}
<div id = "add-skill">
<h2>Add a Proficiency Level</h2>
<p>To add a new proficiency, please enter its information below and click 'Submit'! Note: If you enter duplicate or null data, you will be redirected to this page and no additions will be made.</p>

<form id="add-proficiency-form" method="POST" action="/add-proficiency-form">
    <label for="input-id">Proficiency Code: </label>
    <input type="text" name="input-id" id="input-id">

    <label for="input-name">Proficiency Name: </label>
    <input type="text" name="input-name" id="input-name">

    <input type="submit">
</form>
</div>
